In [1]:
# encoding=utf8

# importacion general de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
#plt.rcParams['figure.figsize'] = (20, 10)

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

pd.options.display.float_format = '{:20,.2f}'.format # suprimimos la notacion cientifica en los outputs

import warnings
warnings.filterwarnings('ignore')

In [2]:
#Carga de datos
data_values = pd.read_csv('data/train_values.csv')

data_labels = pd.read_csv('data/train_labels.csv')

In [3]:
#Analisis de 'data'
data_values.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,802906,6,487,12198,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
1,28830,8,900,2812,2,10,8,7,o,r,...,0,0,0,0,0,0,0,0,0,0
2,94947,21,363,8973,2,10,5,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,590882,22,418,10694,2,10,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
4,201944,11,131,1488,3,30,8,9,t,r,...,0,0,0,0,0,0,0,0,0,0

In [4]:
data_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  object
 9   foundation_type                         260601 non-null  object
 10  roof_type                               260601 non-null  object
 11  ground_floor_type                       260601 non-null  object
 12  other_floor_type                        260601 non-null  object
 13  position                                260601 non-null  object
 14  plan_configuration                      260601 non-null  object
 15  has_superstructure_adobe_mud            260601 non-null  int64
 16  has_superstructure_mud_mortar_stone     260601 non-null  int64
 17  has_superstructure_stone_flag           260601 non-null  int64
 18  has_superstructure_cement_mortar_stone  260601 non-null  int64
 19  has_superstructure_mud_mortar_brick     260601 non-null  int64
 20  has_superstructure_cement_mortar_brick  260601 non-null  int64
 21  has_superstructure_timber               260601 non-null  int64
 22  has_superstructure_bamboo               260601 non-null  int64
 23  has_superstructure_rc_non_engineered    260601 non-null  int64
 24  has_superstructure_rc_engineered        260601 non-null  int64
 25  has_superstructure_other                260601 non-null  int64
 26  legal_ownership_status                  260601 non-null  object
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  int64
 29  has_secondary_use_agriculture           260601 non-null  int64
 30  has_secondary_use_hotel                 260601 non-null  int64
 31  has_secondary_use_rental                260601 non-null  int64
 32  has_secondary_use_institution           260601 non-null  int64
 33  has_secondary_use_school                260601 non-null  int64
 34  has_secondary_use_industry              260601 non-null  int64
 35  has_secondary_use_health_post           260601 non-null  int64
 36  has_secondary_use_gov_office            260601 non-null  int64
 37  has_secondary_use_use_police            260601 non-null  int64
 38  has_secondary_use_other                 260601 non-null  int64
dtypes: int64(31), object(8)
memory usage: 77.5+ MB

In [5]:
data_values.shape

(260601, 39)

In [6]:
data_values.size

10163439

In [7]:
#Analizo el valor maximo de las columnas enteras
data_values.describe()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
count,"260,601.00","260,601.00","260,601.00","260,601.00","260,601.00","260,601.00","260,601.00","260,601.00","260,601.00","260,601.00",...,"260,601.00","260,601.00","260,601.00","260,601.00","260,601.00","260,601.00","260,601.00","260,601.00","260,601.00","260,601.00"
mean,"525,675.48",13.90,701.07,"6,257.88",2.13,26.54,8.02,5.43,0.09,0.76,...,0.06,0.03,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.01
std,"304,545.00",8.03,412.71,"3,646.37",0.73,73.57,4.39,1.92,0.28,0.43,...,0.25,0.18,0.09,0.03,0.02,0.03,0.01,0.01,0.01,0.07
min,4.00,0.00,0.00,0.00,1.00,0.00,1.00,2.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
25%,"261,190.00",7.00,350.00,"3,073.00",2.00,10.00,5.00,4.00,0.00,1.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
50%,"525,757.00",12.00,702.00,"6,270.00",2.00,15.00,7.00,5.00,0.00,1.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
75%,"789,762.00",21.00,"1,050.00","9,412.00",2.00,30.00,9.00,6.00,0.00,1.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
max,"1,052,934.00",30.00,"1,427.00","12,567.00",9.00,995.00,100.00,32.00,1.00,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00

In [8]:
data_values_object_columns=data_values.loc[:, data_values.dtypes == object]
data_values_object_columns.head()

,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,legal_ownership_status
0,t,r,n,f,q,t,d,v
1,o,r,n,x,q,s,d,v
2,t,r,n,f,x,t,d,v
3,t,r,n,f,x,s,d,v
4,t,r,n,f,x,s,d,v

In [9]:
data_values_object_columns.describe(include='all').loc['unique', :]

land_surface_condition     3
foundation_type            5
roof_type                  3
ground_floor_type          5
other_floor_type           4
position                   4
plan_configuration        10
legal_ownership_status     4
Name: unique, dtype: object

In [10]:
#Mostrar todos los tipos internos del tipo objeto
for col in list(data_values_object_columns):
    print(col)
    print(data_values_object_columns[col].map(lambda x:  type(x)).unique())
    print("-----------")

land_surface_condition
[<class 'str'>]
-----------
foundation_type
[<class 'str'>]
-----------
roof_type
[<class 'str'>]
-----------
ground_floor_type
[<class 'str'>]
-----------
other_floor_type
[<class 'str'>]
-----------
position
[<class 'str'>]
-----------
plan_configuration
[<class 'str'>]
-----------
legal_ownership_status
[<class 'str'>]
-----------

In [11]:
#Mostrar todos los valores unicos del tipo objecto
for col in list(data_values_object_columns):
    print(col)
    print(np.sort(data_values_object_columns[col].unique()))
    print("-----------")

land_surface_condition
['n' 'o' 't']
-----------
foundation_type
['h' 'i' 'r' 'u' 'w']
-----------
roof_type
['n' 'q' 'x']
-----------
ground_floor_type
['f' 'm' 'v' 'x' 'z']
-----------
other_floor_type
['j' 'q' 's' 'x']
-----------
position
['j' 'o' 's' 't']
-----------
plan_configuration
['a' 'c' 'd' 'f' 'm' 'n' 'o' 'q' 's' 'u']
-----------
legal_ownership_status
['a' 'r' 'v' 'w']
-----------

In [12]:
#Transformamos los tipos objeto a categoricos para reducir espacio y aplicar el tipo correspondiente
for col in list(data_values_object_columns.columns):
    data_values[col] = data_values[col].astype('category')

data_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  category
 9   foundation_type                         260601 non-null  category
 10  roof_type                               260601 non-null  category
 11  ground_floor_type                       260601 non-null  category
 12  other_floor_type                        260601 non-null  category
 13  position                                260601 non-null  category
 14  plan_configuration                      260601 non-null  category
 15  has_superstructure_adobe_mud            260601 non-null  int64
 16  has_superstructure_mud_mortar_stone     260601 non-null  int64
 17  has_superstructure_stone_flag           260601 non-null  int64
 18  has_superstructure_cement_mortar_stone  260601 non-null  int64
 19  has_superstructure_mud_mortar_brick     260601 non-null  int64
 20  has_superstructure_cement_mortar_brick  260601 non-null  int64
 21  has_superstructure_timber               260601 non-null  int64
 22  has_superstructure_bamboo               260601 non-null  int64
 23  has_superstructure_rc_non_engineered    260601 non-null  int64
 24  has_superstructure_rc_engineered        260601 non-null  int64
 25  has_superstructure_other                260601 non-null  int64
 26  legal_ownership_status                  260601 non-null  category
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  int64
 29  has_secondary_use_agriculture           260601 non-null  int64
 30  has_secondary_use_hotel                 260601 non-null  int64
 31  has_secondary_use_rental                260601 non-null  int64
 32  has_secondary_use_institution           260601 non-null  int64
 33  has_secondary_use_school                260601 non-null  int64
 34  has_secondary_use_industry              260601 non-null  int64
 35  has_secondary_use_health_post           260601 non-null  int64
 36  has_secondary_use_gov_office            260601 non-null  int64
 37  has_secondary_use_use_police            260601 non-null  int64
 38  has_secondary_use_other                 260601 non-null  int64
dtypes: category(8), int64(31)
memory usage: 63.6 MB

NOTA: Uso de memoria reducido en una sexta parte

In [13]:
#Cantidad de Nan en los datos
data_values.isna().sum().sum()

0

In [14]:
#Cantidad de Nulls en los datos
data_values.isnull().sum().sum()

0

In [15]:
data_values_int_columns=data_values.loc[:, data_values.dtypes == np.int64]
data_values_int_columns.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,802906,6,487,12198,2,30,6,5,1,1,...,0,0,0,0,0,0,0,0,0,0
1,28830,8,900,2812,2,10,8,7,0,1,...,0,0,0,0,0,0,0,0,0,0
2,94947,21,363,8973,2,10,5,5,0,1,...,0,0,0,0,0,0,0,0,0,0
3,590882,22,418,10694,2,10,6,5,0,1,...,0,0,0,0,0,0,0,0,0,0
4,201944,11,131,1488,3,30,8,9,1,0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
#Transformamos los tipos int64 a booleanos para reducir espacio y aplicar el tipo correspondiente
boolean_columns = [col for col in data_values if data_values[col].isin([0,1]).all()]

for col in list(boolean_columns):
    data_values[col] = data_values[col].astype(bool)

data_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 39 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  category
 9   foundation_type                         260601 non-null  category
 10  roof_type                               260601 non-null  category
 11  ground_floor_type                       260601 non-null  category
 12  other_floor_type                        260601 non-null  category
 13  position                                260601 non-null  category
 14  plan_configuration                      260601 non-null  category
 15  has_superstructure_adobe_mud            260601 non-null  bool
 16  has_superstructure_mud_mortar_stone     260601 non-null  bool
 17  has_superstructure_stone_flag           260601 non-null  bool
 18  has_superstructure_cement_mortar_stone  260601 non-null  bool
 19  has_superstructure_mud_mortar_brick     260601 non-null  bool
 20  has_superstructure_cement_mortar_brick  260601 non-null  bool
 21  has_superstructure_timber               260601 non-null  bool
 22  has_superstructure_bamboo               260601 non-null  bool
 23  has_superstructure_rc_non_engineered    260601 non-null  bool
 24  has_superstructure_rc_engineered        260601 non-null  bool
 25  has_superstructure_other                260601 non-null  bool
 26  legal_ownership_status                  260601 non-null  category
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  bool
 29  has_secondary_use_agriculture           260601 non-null  bool
 30  has_secondary_use_hotel                 260601 non-null  bool
 31  has_secondary_use_rental                260601 non-null  bool
 32  has_secondary_use_institution           260601 non-null  bool
 33  has_secondary_use_school                260601 non-null  bool
 34  has_secondary_use_industry              260601 non-null  bool
 35  has_secondary_use_health_post           260601 non-null  bool
 36  has_secondary_use_gov_office            260601 non-null  bool
 37  has_secondary_use_use_police            260601 non-null  bool
 38  has_secondary_use_other                 260601 non-null  bool
dtypes: bool(22), category(8), int64(9)
memory usage: 25.4 MB

NOTA: Uso de memoria reducido a la mitad

In [17]:
#Analisis de 'data_labels'
data_labels = pd.read_csv('data/train_labels.csv')
data_labels.head()

   building_id  damage_grade
0       802906             3
1        28830             2
2        94947             3
3       590882             2
4       201944             3

In [18]:
data_labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   building_id   260601 non-null  int64
 1   damage_grade  260601 non-null  int64
dtypes: int64(2)
memory usage: 4.0 MB

In [19]:
data_labels.shape

(260601, 2)

In [20]:
data_labels.size

521202

In [21]:
#Cantidad de Nan en los datos
data_labels.isna().sum().sum()

0

In [22]:
#Merge de labels y values. 
#Se realiza un outer para contemplar todos los posibles casos
data = data_values.merge(right=data_labels, how='outer', left_on='building_id', right_on='building_id')

In [23]:
data.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,802906,6,487,12198,2,30,6,5,t,r,...,False,False,False,False,False,False,False,False,False,3
1,28830,8,900,2812,2,10,8,7,o,r,...,False,False,False,False,False,False,False,False,False,2
2,94947,21,363,8973,2,10,5,5,t,r,...,False,False,False,False,False,False,False,False,False,3
3,590882,22,418,10694,2,10,6,5,t,r,...,False,False,False,False,False,False,False,False,False,2
4,201944,11,131,1488,3,30,8,9,t,r,...,False,False,False,False,False,False,False,False,False,3

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260601 entries, 0 to 260600
Data columns (total 40 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int64
 1   geo_level_1_id                          260601 non-null  int64
 2   geo_level_2_id                          260601 non-null  int64
 3   geo_level_3_id                          260601 non-null  int64
 4   count_floors_pre_eq                     260601 non-null  int64
 5   age                                     260601 non-null  int64
 6   area_percentage                         260601 non-null  int64
 7   height_percentage                       260601 non-null  int64
 8   land_surface_condition                  260601 non-null  category
 9   foundation_type                         260601 non-null  category
 10  roof_type                               260601 non-null  category
 11  ground_floor_type                       260601 non-null  category
 12  other_floor_type                        260601 non-null  category
 13  position                                260601 non-null  category
 14  plan_configuration                      260601 non-null  category
 15  has_superstructure_adobe_mud            260601 non-null  bool
 16  has_superstructure_mud_mortar_stone     260601 non-null  bool
 17  has_superstructure_stone_flag           260601 non-null  bool
 18  has_superstructure_cement_mortar_stone  260601 non-null  bool
 19  has_superstructure_mud_mortar_brick     260601 non-null  bool
 20  has_superstructure_cement_mortar_brick  260601 non-null  bool
 21  has_superstructure_timber               260601 non-null  bool
 22  has_superstructure_bamboo               260601 non-null  bool
 23  has_superstructure_rc_non_engineered    260601 non-null  bool
 24  has_superstructure_rc_engineered        260601 non-null  bool
 25  has_superstructure_other                260601 non-null  bool
 26  legal_ownership_status                  260601 non-null  category
 27  count_families                          260601 non-null  int64
 28  has_secondary_use                       260601 non-null  bool
 29  has_secondary_use_agriculture           260601 non-null  bool
 30  has_secondary_use_hotel                 260601 non-null  bool
 31  has_secondary_use_rental                260601 non-null  bool
 32  has_secondary_use_institution           260601 non-null  bool
 33  has_secondary_use_school                260601 non-null  bool
 34  has_secondary_use_industry              260601 non-null  bool
 35  has_secondary_use_health_post           260601 non-null  bool
 36  has_secondary_use_gov_office            260601 non-null  bool
 37  has_secondary_use_use_police            260601 non-null  bool
 38  has_secondary_use_other                 260601 non-null  bool
 39  damage_grade                            260601 non-null  int64
dtypes: bool(22), category(8), int64(10)
memory usage: 29.3 MB

In [25]:
#Detalles de columnas numericas
data_int_columns=data.loc[:, data.dtypes == np.int64].columns
data[data_int_columns].describe()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,count_families,damage_grade
count,"260,601.00","260,601.00","260,601.00","260,601.00","260,601.00","260,601.00","260,601.00","260,601.00","260,601.00","260,601.00"
mean,"525,675.48",13.90,701.07,"6,257.88",2.13,26.54,8.02,5.43,0.98,2.24
std,"304,545.00",8.03,412.71,"3,646.37",0.73,73.57,4.39,1.92,0.42,0.61
min,4.00,0.00,0.00,0.00,1.00,0.00,1.00,2.00,0.00,1.00
25%,"261,190.00",7.00,350.00,"3,073.00",2.00,10.00,5.00,4.00,1.00,2.00
50%,"525,757.00",12.00,702.00,"6,270.00",2.00,15.00,7.00,5.00,1.00,2.00
75%,"789,762.00",21.00,"1,050.00","9,412.00",2.00,30.00,9.00,6.00,1.00,3.00
max,"1,052,934.00",30.00,"1,427.00","12,567.00",9.00,995.00,100.00,32.00,9.00,3.00

In [26]:
print('max value: ',data[data_int_columns].max().max(), ' - min value: ', data[data_int_columns].min().min())

max value:  1052934  - min value:  0

Rangos de int:
    int64 = -9,223,372,036,854,775,808 a 9,223,372,036,854,775,807
    int32 = -2,147,483,648 a 2,147,483,647 
    int16 = -32768 a 32767
Por lo que se puede restringir el tipo numerico a int32

In [27]:
#Transformamos los tipos int64 a int32 para reducir espacio

for col in list(data_int_columns):
    data_values[col] = data[col].astype(np.int32)

data_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 40 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   building_id                             260601 non-null  int32
 1   geo_level_1_id                          260601 non-null  int32
 2   geo_level_2_id                          260601 non-null  int32
 3   geo_level_3_id                          260601 non-null  int32
 4   count_floors_pre_eq                     260601 non-null  int32
 5   age                                     260601 non-null  int32
 6   area_percentage                         260601 non-null  int32
 7   height_percentage                       260601 non-null  int32
 8   land_surface_condition                  260601 non-null  category
 9   foundation_type                         260601 non-null  category
 10  roof_type                               260601 non-null  category
 11  ground_floor_type                       260601 non-null  category
 12  other_floor_type                        260601 non-null  category
 13  position                                260601 non-null  category
 14  plan_configuration                      260601 non-null  category
 15  has_superstructure_adobe_mud            260601 non-null  bool
 16  has_superstructure_mud_mortar_stone     260601 non-null  bool
 17  has_superstructure_stone_flag           260601 non-null  bool
 18  has_superstructure_cement_mortar_stone  260601 non-null  bool
 19  has_superstructure_mud_mortar_brick     260601 non-null  bool
 20  has_superstructure_cement_mortar_brick  260601 non-null  bool
 21  has_superstructure_timber               260601 non-null  bool
 22  has_superstructure_bamboo               260601 non-null  bool
 23  has_superstructure_rc_non_engineered    260601 non-null  bool
 24  has_superstructure_rc_engineered        260601 non-null  bool
 25  has_superstructure_other                260601 non-null  bool
 26  legal_ownership_status                  260601 non-null  category
 27  count_families                          260601 non-null  int32
 28  has_secondary_use                       260601 non-null  bool
 29  has_secondary_use_agriculture           260601 non-null  bool
 30  has_secondary_use_hotel                 260601 non-null  bool
 31  has_secondary_use_rental                260601 non-null  bool
 32  has_secondary_use_institution           260601 non-null  bool
 33  has_secondary_use_school                260601 non-null  bool
 34  has_secondary_use_industry              260601 non-null  bool
 35  has_secondary_use_health_post           260601 non-null  bool
 36  has_secondary_use_gov_office            260601 non-null  bool
 37  has_secondary_use_use_police            260601 non-null  bool
 38  has_secondary_use_other                 260601 non-null  bool
 39  damage_grade                            260601 non-null  int32
dtypes: bool(22), category(8), int32(10)
memory usage: 17.4 MB

NOTA: Uso de memoria reducido en una cuarta parte

In [28]:
#Cantidad de Nan en los datos
data.isna().sum().sum()

0

In [29]:
#Cantidad de Nulls en los datos
data.isnull().sum().sum()

0

In [30]:
data.to_csv('data/clean_data.csv', index=False)